body{
    overflow-x: hidden;

}
.carousel-inner img
{
			width: 100%;
			height: 250px;
}

.second-div
{
	background-color: black;
	border-color: black;
	color: white;
}
.size
{
	padding-right: 15px;
	padding-left: 10px;
	padding-top: 5px;
}
select
{
	background-color: black;
	color: white;
	border: black;
}
.background-div
{
	background-color: grey;
	color: #123456;
}
.background-div: hover{

	background-color: yellow;
}
.fix
{
	position: fixed;
}
.input:focus {
    width: 100%;
    height: 50px;
}
.bk{
	background-color: blue;
}


.overflow
{
	overflow-y: 50px;
}

.align
{
	text-align: left;
}


.hover {
   text-align: left;
   border-radius: 5px;
   padding-bottom: 120px;
}

textarea
{
     width:500px;
    padding: 50px;
   
}

.word_spacing{
	word-spacing: 5px;

}

.left {

	width: 50%;
	align-content:left; 
	float: left;
    
}
.imgdemo
{
	background-image: url('assets/images/background/logo 2.jpg');
}
.right {

	width: 50%;
	align-content:right;
	float: right; 
}
.div-left {
	width : 40% ;
	float : left;
}


.div-right{
	width : 40% ;
	float :right;
}
.back
{
	background-color: grey;
}
.color
{
	color: blue;
	font-family: Microsoft Sans Serif ;
}
.img-back
{
	background-image: "assets\images\logo\logo 2.jpg";
}
.phy-img:hover
{
	height: 600px;
	width: 70%;
}
.grow:hover
							{
							  -webkit-transform: scale(2.2);
							  -ms-transform: scale();
							   transform: scale(1.1);
							  transition: all 0.9s ease;

							  
							}




.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

.button:hover span {
	  padding-right: 25px;
}

.button:hover span:after {
	 opacity: 1;
	 right: 0;
}
.hov:mousein
{
	width: 100%;
	height: 300px;
}
.hov:mouseout
{
	width: 100%;
	height: 300px;
}
.grow{
		transition: all 0.9s ease ;
}
.grow:hover{
	  -webkit-transform: scale(2.2);
	  -ms-transform: scale();
	   transform: scale(1.1);
	  transition: all 0.9s ease;
}
.div-content{

		border-style: ridge;
		border-radius: 25px; 
		height: 465px;
		background-color: #001f3f !important;
									
}
.icon:hover {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
}
.click:hover{
	-webkit-animation: zoom 2s;
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
